/* Defalt css, Fonts
------------------------------------*/
@import "../../node_modules/bootstrap/scss/bootstrap.scss";


  body {
    background-color: #ececec;
  }

  .rounded-lg {
    border-radius: .45rem !important;
  }

  input, textarea{
    background-color: #f0f1f3 !important;
  }